.cardContainer{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;

}

.cardContainer .card{
    width: 18rem;
    margin: 3% 5%;
    padding: 1%;
    align-items: center;
}

.card-body{
    min-width: 223px;
    text-align: center;
}

.cardContainer .card:hover{
    box-shadow: 5px 5px 10px #EAE0DA;
}

.card img{
    height: 210px;
    width: 210px;
    margin: 1%;
}

.btn{
    margin-top: 10%;
    width: 100%;
    background-color: #3A4F7A !important;
    color: white !important;
}

.btn:hover{
    background-color: #0081C9 !important;
    color: #FF6E31 !important;
    font-weight: bolder !important;
    transition: ease-in-out;
}

/* for navbar */
.navbar{
    position: fixed !important;
    z-index: 1 !important;
    width: 100%;
    background-color: #0A2647;
    color: #EAFDFC !important;
    --bs-navbar-brand-color: white;
}

.navbar a{
    color: white !important;
    text-decoration: none !important;

}

.links{
    display: flex;
}

.links a{
    padding: 0 20%;
}

@media (max-width: 420px) {
    .cardContainer{
        padding-top: 20%;
    }
    
}




