main{
    /* background-color: #F0997D;     */
}
.card{
    margin: 4%;
    padding: 2%;
    width: 20rem;
    background-color: #F0997D;    
}

.btn{
    width: 100%;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
}

.card img{
    height: 250px;
    width: 250px;
}